
  <table align="center" width="800" border="1" style="border-collapse:collapse; border:1px solid #ddd;" cellpadding="5" cellspacing="0">
    <thead>
        <tr bgcolor="#FFCC00">
            <th>Sr#</th>
            <th>Country Code</th>
            <th>Country Name</th>
            <th>Capital</th>
        </tr>
    </thead>
    <tbody>
    <?php
    if (($handle    =   fopen("you-file-name.csv", "r")) !== FALSE) {
        $n          =   1;
        while (($row    =   fgetcsv($handle)) !== FALSE){
            if($n>1){
                ?>
                <tr>
                    <td><?php echo $n;?></td>
                    <td><?php echo $row[0];?></td>
                    <td><?php echo $row[1];?></td>
                    <td><?php echo $row[2];?></td>
                </tr>
                <?php
            }
            $n++;
        }
        fclose($handle);
    }
    ?>
    </tbody>
</table>