{% extends 'base.html.twig' %}

{% block title %}New Upload{% endblock %}

{% block body %}
    <h1>Create new Upload</h1>

    {{ include('upload/_form.html.twig') }}

    <a href="{{ path('app_upload_index') }}">back to list</a>
{% endblock %}
